<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<!-- Appender para archivo -->
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\\Logs\\MantenimientoProductos.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd'.log'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Appender para la consola -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- Configuración del nivel de log -->
		<root>
			<level value="ALL" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
</configuration>
